/* *universal selector affects every element on the page */
* {
    box-sizing: border-box;
    padding: 0;
}

body, header{
    font-family:"Montserrat", Helvetica, Arial, sans-serif;
    margin:0;
    background-color: #fff
}





nav {
    background-color: #26374a;
    padding: 1.2em;
    text-align: center;
}

/* pseudo classes */
a:link {
    color: #0f163b;
    margin-right: 0.5em;
    text-decoration: underline;
}

a:visited {
    color:#646496;
    text-decoration: none;
}

a:hover {
    color: #3d3dc7;
    text-decoration: underline;
}

.lg-link{
    padding: 1vh;
    display: flex;
    justify-content: end;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #0f163b;
    padding: 15px;
    max-width: 1600px;
    width: 100%;
    padding: auto;
    margin: auto;
    /* margin: 0vh 16.75vw 2.5vh 16.75vw; */
}

.header-main{
    display: flex;
    align-items: space-between;
}

.header-main a{
    margin-right: 3em ;
    text-decoration: none;
}

/* .header-main-last-link{
    margin: 0;
} */

.article-pull-quote, .next-article {
    margin: 0;
    padding: 0;
    width: 100vw;
    max-width: 100%;
}

section{
    background-color: #F5F5F5;
    max-width: 100vw;
    height: 300px;
    margin: 0;
}

section h3{
    padding-top: 30px;
    text-align: center;
    font-size: 2.25em;
    margin: 0;
}

h4{
    font-size: 1.25em;
}



.visa-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1600px; 
    width: 100%;
    margin:auto ;
    padding: auto;
}

.visa-list a{
    margin-top: 85px;
    /* padding-top: 25px; */
    font-size: 1.25em;
}



.pull-quote-gov{
    display: flex;
    background:url(../images/pothole-crop.jpeg) scroll;
    padding: 0;
    margin: 0;
    color: #eee;
    width: 100vw;
    max-width: 100%;
    height: 227px;
    background-size: cover;
    background-position: initial;
    /* position: relative; */
}

hgroup{
    display: flex;
    position: relative;
    justify-content: center;
    /* max-width: 1000px; */
    width: 100vw;
    max-width: 100%;
    z-index: 999;
    top: 35px;
}

hgroup h2 {
    font-size: 2.5em;
    margin: .2em;  
}

hgroup h3 {
    font-size: 1.25em;
    margin: .5em .5em .5em 0;  
}

.bg-anchor{
    display: flex;
    justify-content: center;
    max-width: 100vw;
    position: relative;
}

.over-text-center{
    display: flex;
    max-width: 1600px;
    width: 100%;
    justify-content: left;
    align-items: center;
    position: absolute;
    margin: auto;
    padding: auto;

}

.over-text{
    display: flex;
    flex-direction: column;
    background-color: rgb(4,9,29, 0.75);
    color: #fff;
    max-width: 600px;
    width: 100%;
    padding: 1%;
    opacity: 1;
    justify-content: center;
}

.over-text h3{
    padding: 2vh 0 0.5vh 2vh;
}

.over-text h2{
    padding: 0 0 0 2vh;
}

.custom-border {
    position: relative;
    margin-left: 0;
    
}

.custom-border::after {         /*This class was generated by GPT but I adjusted the numbers.*/
    content: '';
    position: absolute;
    left: 2vh;
    bottom: -2vh;
    width: 20%; 
    height: 0.77vh; /* Border thickness */
    background-color: #C82F2F; /* Border color */
    

}


.next-article{
    display: flex;
    margin-top: 0;
    justify-content: center;
    width: 100vw;
    max-width: 100%;
}

article{
    margin: 70px 0 70px 0;
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    width: 100%;
}

.article-over-text{
    display: flex;
    flex-direction: column;
    color: rgb(4,9,29);
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    max-width: 600px;
    width: 100%;
    /* position: relative; */
    opacity: 1;
    justify-content: center;
    animation: shadow-drop-2-bl 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.article-custom-border{
 position: relative;
    margin-left: 0;
}

.article-custom-border::after{
    content: '';
    position: absolute;
    left: 0vh;
    bottom: -2vh;
    width: 20%; 
    height: 0.77vh; /* Border thickness */
    background-color: #C82F2F;
}

article h2 {
    font-size: 2.5em;
    margin: .2em; 
}

article p {
    /* font-size: 1.25em; */
    margin: 1em 1em 1em 0;  
}

.article-img{
    background:url(../images/montreal-construction.jpeg) scroll;
    padding: 0;
    margin: 0;
    width: 790px;
    height: 227px;
    background-size: cover;
    background-position: initial;
    animation: shadow-drop-2-br 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

h1 {
    font-size: 4em;
    text-transform: capitalize;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
    margin-bottom: 0.50em;
    
    /* border-bottom:solid 1px #333 ; */
}


main {
    max-width: 1600px; /* this is the ceiling. the width element is 100% but it still stops the moment it reaches 1k pixels */
    width: 100%;
    padding: auto;
    margin: auto;
}



main h2 {
    font-size: 2.5em;
    /* text-transform: capitalize; */
    /* text-align: center; */
    margin: .2em;  /* This ends up being 8px. It is half of the base font size which is 16px */
}

main h3 {
    font-size: 1.25em;
    /* text-transform: capitalize; */
    /* text-align: center; */
    margin: .5em .5em .5em 0;  /* This ends up being 8px. It is half of the base font size which is 16px */
}

p {
    font-size: 1.3em;
    line-height: 130%;
}

main a{
    margin-top: 85px;
    font-size: 1.25em;
}

main p{
    margin: 0;
    padding-bottom: 85px;
    position: relative;
    bottom: 25px;
}

.main-grid{
    display: grid;
    max-width: 1600px;
    width: auto;
    grid-template-columns: 660px 17.5em 660px;
    grid-template-rows: 0.5fr 0.5;
}

.main-resume-1{
    max-width: 660px;
    width: auto;
}

.main-resume-2{
    max-width: 660px;
    width: auto;
    grid-column: 3 / 4;
    grid-row: 1 / 1;
}

.main-resume-3{
    max-width: 660px;
    width: auto;
    grid-column: 1 / 2;
    grid-row: 2 / 2;
}

.main-resume-4{
    max-width: 660px;
    width: auto;
    grid-column: 3 / 4;
    grid-row: 2/ 2;
}

.container{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 30%;
    padding: 10px;
}

.sub-container{
    padding-top: 3vh;
    border-top: solid white 2px;
}

.flag-logo {
    margin: 0 5vw 0 0;
    width: 34vh
}

.text {
    font-size: 20px;
    padding-left: 20px;
    padding-top: 20%;
    float: left;
}

.multi-col-cnd-gov-header {
    column-count: 2;
    font-size: calc(12px + 1.5vw);
    padding-left: 5%;
}

/* responsive img */

img {
    display: block;
    width: 50%;
    margin: auto;
}


footer {
  height: 237px;
  width: 100vw;
  max-width: 100%;
}

footer h4{
    margin-top: 0;
    margin-bottom: 23px;
    padding-top: 16px;
    font-size: 1.6em;
}

.footer-1{
    /* display: grid; */
    background-color: #26374a;
    color: #fff;
    width: 100vw;
    max-width: 100%;
}

.footer-1-flex{
    max-width: 1600px;
    width: 100%;
    height: 137px;
    margin: auto;
}

.footer-1 a {
    color: #fff;
    font-size: 1.3em;
    padding-bottom: 27px;
    text-decoration: none;
}

.footer-1 a:hover {
    text-decoration: underline;
}

.footer-1-a{
    display: flex;
    justify-content: space-between;
    max-width: 673px;
    width: 100%;
}

.footer-2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0f163b;
    max-width: 1600px;
    width: 100vw;
    height: 100px;
    margin: auto;
}

.footer-2_1{
    display: flex;
    width: 1600px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    
}

.footer-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    width: 100%;
}

.footer-main a{
    margin: 0;
    text-decoration: none;
}


.footer-2 img{
    height: 40px;
    width: auto;
}


/* Animations */

  .shadow-drop-2-br {
	animation: shadow-drop-2-br 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes shadow-drop-2-br {
    0% {
      transform: translateZ(0) translateX(12px) translateY(12px);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      transform: translateZ(50px) translateX(0px) translateY(0px);
      box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.75);
    }
  }

  .shadow-drop-2-bl {
	animation: shadow-drop-2-bl 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes shadow-drop-2-bl {
    0% {
      transform: translateZ(0) translateX(0) translateY(0);
    }
    100% {
      transform: translateZ(50px) translateX(12px) translateY(-12px);
    }
  }


